* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;

}

img {
  max-width: 100%;
  max-height: 100%;

}

.content-wrapper {
  background: #CCCCCC;
  width: 100%;
  height: 100%;
}
.zm-content {
  background: white;
  max-height: 100%;

}
.zm-content .menu-button {
  line-height: 2px;
  padding: 2em;
  background-size: contain;
  border: none;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
}


.zm-content .menu-button .nv-line {
  height: 5px;
  width: 50px;
  border-radius: 30px;
  margin-bottom: 8px;
  background: #5489DB;
}



.zm-content .head-line {
  background-image: url(../images/background-320.jpg);
  background-size: 100%;
  padding: 0px;
  max-height: 600px;
  height: 100%;
}
.zm-content .about {
  padding: 20px;
  text-align: justify;
}


.zm-content .unsere-plane {
  background: #c4e3f3;
  padding: 20px;
}

