* {
    padding: 0;
    margin: 0;
}
html,body {
    width: 100%;
    height: 100%;
    font-family: @font-light;

    @media screen and (min-width: @query-tablet) {
      width: initial;
      height: initial;
    }
}
img {
    max-width: 100%;
    max-height: 100%;
}
.content-wrapper {
    background: #CCCCCC;
    width: 100%;
    height: 100%;

    @media screen and (min-width: @query-tablet) {
      width: initial;
      height: initial;
    }
}

.menu-button {

        line-height: 2px;
        border: none;
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 5;


        @media screen and (min-width: @query-tablet) {

          display: none;
        }

        .nv-line {
            height: 5px;
            width: 50px;
            border-radius: 30px;
            margin-bottom: 8px;
            background: @menu-button-color;

            &:last-child {

              margin: 0px;
            }
        }
}


.zm-content {
    background: white;
    max-height: 100%;

    .head-line {

        background-image: url(../images/background-320.jpg);
        background-size: cover;
        background-position: center center;
        padding: 0px;
        max-height: 560px;
        height: 100%;
        overflow: hidden;

        @media screen and (min-width: @query-phone) {

          background-image: url(../images/background-768.jpg);
        }

        @media screen and (min-width: @query-tablet) {

          background-image: url(../images/background-1024.jpg);
          height: 560px;
        }

        @media screen and (min-width: @query-desktop) {

          background-image: url(../images/background-1440.jpg);
        }

        h2 {

          color: @font-color-white;
          font-size: 24px;
          margin-top: 0px;
          font-weight: normal;
          text-align: center;
          display: none;

          @media screen and (min-width: @query-tablet) {

            font-size: 32px;
          }

          @media screen and (min-height: 250px) {
            display: block;
          }

          @media screen and (min-height: 300px) {
            margin-top: 20px;
          }

          @media screen and (min-height: 480px) { 
            margin-top: 100px;
          }

          b {

            font-family: @font-bold;
          }
        }

        img {

          margin-top: 0px;

          @media screen and (min-height: 180px) {
            margin-top: 20px;
          }

          @media screen and (min-height: 300px) {

            margin-top: 50px;
          }

          @media screen and (min-height: 480px) {

            margin-top: 100px;
          }
        }
    }

    .inAppHead {

        display: none !important;
    }

    .menu {

      display: block;
      height: 0;
      visibility: hidden;

      @media all and (min-width: @query-tablet) {
        
        background: @bg-color-darkblue;
        display: block;
        height: auto;
        visibility: visible;
        width: 100%;
        z-index: 20;
        position: static;
      }

      .menu-logo {

        display: none;

        @media all and (min-width: @query-tablet) {

          height: 70px;
          float: left;
          width: 30%;
          text-align: center;
          margin-top: 15px;
        }
      }

      .menu-list {

        text-align: center;
        padding: 20px;
        max-width: 900px;
        margin: 0px auto;

        @media all and (min-width: @query-tablet) {

          li {

          display: inline-block;
          width: 25%;
          float: left;

           a {

            text-decoration: none;
            color: @font-color-white;
            padding: 20px;
            text-transform: uppercase;
            }
          }

          .active {

            font-family: @font-bold;
          }

          &:after {
            content: " ";
            height: 0px;
            clear: both;
            display: block;
          }
        }
      }
    }
    
    .inAppMenu {

      .menu-list {

        @media screen and (min-width: @query-tablet) {
          float: right !important;
          width: 50%;
          padding: 40px;
        }
      }

      .menu-logo {

        @media screen and (min-width: @query-tablet) {
          display: block !important;
        }
      }
    }

    .about {

      padding: 60px 20px;
      text-align: left;

      .about-what {

          @media screen and (min-width: @query-tablet) {

            margin: 30px 0px;
            display: table;
            position: relative;
            width: 100%;
          }

          @media screen and (min-width: @query-big) {

            width: @query-big;
            margin: 30px auto;
          }

          .about-img {

            display: none;

            @media screen and (min-width: @query-tablet) {

              display: block;
              float: left;
              width: 44%;
              max-width: 500px;
              display: table-cell;
              vertical-align: middle;
              height: 100%;
            }
          }

          .about-text-wrapper {

            @media screen and (min-width: @query-tablet) {

              padding: 20px;
              width: 50%;
              float: left;
              position: absolute;
              right: 0px;
              bottom: 0px;
              height: 100%;
              top: 0px;

              .about-text {

                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
              }
            }

            h3 {

              color: @font-color-blue;
              font-size: 18px;
              text-align: center;
              font-family: @font-bold;

              @media screen and (min-width: @query-tablet) {

                font-size: 24px;
                text-align: left;
              }
            }

            p{

              margin: 30px 0px 30px;

              @media screen and (min-width: @query-tablet) {

                font-size: 14px;
              }
            }
          }
      }

      .about-sections {

        @media screen and (min-width: @query-tablet) {
              
          max-width: @query-tablet;
          margin: 70px auto;
        }

        h3{

            color: @font-color-blue;
            font-size: 18px;
            text-align: center;
            font-family: @font-bold;

            @media screen and (min-width: @query-tablet) {

              font-size: 24px;
            }
        }

        .about-section {

            margin-top: 40px;

            @media screen and (min-width: @query-tablet) {

              padding: 20px;
            }

            .about-section-img {

              width: 200px;
              margin: 0px auto;
              text-align: center;
              vertical-align: middle;
            }

            .about-section-text {

                margin-top: 40px;
                vertical-align: middle;

                @media screen and (min-width: @query-tablet) {

                  font-size: 14px;
                }

            }
        }

        @media screen and (min-width: @query-tablet) {

            .text-middle-right {

              position: relative;

              .about-section-text {

                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                height: 100%;

                .about-section-text-content {

                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                }
              }
            }

            .text-middle-left {

              position: relative;

              .about-section-text {

                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                height: 100%;

                .about-section-text-content {

                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                }
              }
            }

            .img-middle-left {

              position: relative;

              .about-section-img {

                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                height: 100%;

                img {

                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                 -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                }
              }
            }

            .img-middle-right {

              position: relative;

              .about-section-img {

                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                height: 100%;

                img {

                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                }
              }
            }
        }
        .left {

            @media screen and (min-width: @query-tablet) {

              .about-section-img {

                float: right;
                width: 25%;
              }

              .about-section-text {

                float: left;
                width: 70%;
                margin-top: 0px;
                margin-right: 20px
              }
            }
        }

        .right {

          @media screen and (min-width: @query-tablet) {

            .about-section-img {

              float: left;
              width: 25%;
            }

            .about-section-text {

              float: right;
              width: 70%;
              margin-top: 0px;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .header-wrapper{
       background: #c4e3f3;
        padding: 20px;
        text-align: center; 
        font: 'Open Sans' 18px;
        
        color: #335385;
        }/*header wrapper*/
        .plan-header{
          
          h2{
            
            font-weight: bold;
            font-size: 46px;
            padding: 5%;
            
          }
          
          p{
            padding-bottom: 5%;
            padding-right: 20%;
            padding-left: 20%;

          }
          @media screen and (max-width: @query-phone) {
              h2{
                font-size: 24px;
              }
            }
         }/*end plan-header */
          
        .plan-buttons{
          width: 100%;
          }/*end bplan-buttons */
          
          @media screen and (min-width: @query-desktop) {
         .plan-buttons{
          display: none;
         }
        }/*end media screen plan buttons */
          .btn-group{
            max-width: 280px;
            width:50%;
            margin: 0 auto;
            text-align: center;
          }
            
            @media screen and (min-width: 900px) {
               .btn-group{
            display: none;
          }
            }
            @media screen and (max-width: @query-small) {
               .btn-group{
              min-width: 280px;
            }
            }
            .button{
              margin: 0;
              cursor: pointer;
              padding:5px 15px;
              background-color: transparent;
              display: inline-block;
              test{}
              &.selected {
                background: #335385;
                color: white;
              }
            }
            .button:hover {
              background: #335385;
              color: white;
            }
            #kostenlos {
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
              border: 1px solid rgb(51, 83, 133);
            }
            #pro {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
              border: 1px solid rgb(51, 83, 133);
            }
            #proPlus{
              border-top: 1px solid #335385;
              border-bottom: 1px solid #335385;
            }
          
        
        
    
    .unsere-plane {
      
      margin: 0 auto;
      background: #c4e3f3;
        text-align: center; 
        font: 'Open Sans' 18px;
        color: #335385;
        width:100%;
        overflow: hidden;
        display: block;
        
      } /* end unsere plane*/

       
        .plan-super-wrapper {
          width: 3 * 300px;
          padding-right: calc(~"50% - 150px");
          padding-left: calc(~"50% - 150px");
          
         }/*end plan-supper-wrapper */ 
          
          
          .plan-wrapper-kostenlos,
          .plan-wrapper-pro,
          .plan-wrapper-pro-plus {
             background:white;
             width: 31%;
             float: left;
             border-top: 5px solid black;
             border-radius: 10px;
             min-width: 280px;
             margin: 10px;

            }/*end plan-wrapper-* */

            @media screen and (max-width: @query-tablet) {
              .plan-wrapper-kostenlos,
              .plan-wrapper-pro,
              .plan-wrapper-pro-plus {
                font-size: 14px;
                }
              }
              
              @media screen and (max-width: @query-phone) {
                .plan-wrapper-kostenlos,
                .plan-wrapper-pro,
                .plan-wrapper-pro-plus {
                font-size: 14px;
                margin-left: 0;
                margin-top:0;
                transform: translate(-3%,0);
                }
              }
              @media screen and (min-width: @query-desktop) {
                .plan-wrapper-kostenlos,
                .plan-wrapper-pro,
                .plan-wrapper-pro-plus {
                margin-top: 23%;
                transform: translateY(-50%);
                margin:10px;
              }
              }
              
            .upper-content {
              border-bottom: 2px dotted black;
              font-size: 18px;
              font: @font-bold;
              color: #43BF5B;
              
              
              .price{
                font-size: 70px;
              }
              .money{
                font-size: 46px;
              }
              div{
                display: inline-block;
              }
              p{
                line-height: 50%;
              }
              
              }/*end upper-content */
              
              
            .middle-content {
               color: #335385;
              margin: 10px auto;
              
              ul {
                list-style-position: inside;
                list-style-image: url(../images/icon-checkmark.png);
              }
              }/*end middle-content */
            .bottom-content {
              margin-bottom: 10px;
            }/*end bottom-content */
              
              .plan-content-button {
                font-style: lighter;
                font-size: 16px;
                padding: 10px;
                border-radius: 6px;
                background: transparent;
                border: 1.5px solid #335385;
                color: #335385;
              }
            

          

       
   
    .site-login {

      text-align: center;
      width: 320px;
      margin: 0px auto;
      padding: 102px 20px;
      box-sizing: padding-box;

      @media screen and (min-width: @query-tablet) {

        padding: 102px 20px;
        box-sizing: content-box;
      }

      h2 {

        font-family: @font-bold;
        color: @font-color-blue;
        font-size: 32px;
        margin: 0px 0px 50px;
      }

      a {

        text-decoration: none;
      }

      .login-form {

        input {

          height: 44px;
          width: 270px;
          background: #F7F7F7;
          border: none;
          border-left: 10px solid;
          border-color: @bg-color-darkblue;
          margin-top: 20px;
          font-size: 18px;
          color: #A2A2A2;
          padding: 0px 10px;
          box-sizing: padding-box;

          @media screen and (min-width: @query-tablet) {

              width: 310px;
          }
        }

        .has-error {

          input {
              background: #EBADB2;
          }
        }

        button {

          width: 100%;
          height: 44px;
          background: #43C05C;
          border: none;
          font-size: 18px;
          color: @font-color-white;
          text-transform: uppercase;
          font-family: @font-bold;
          margin-top: 30px;

          @media screen and (min-width: @query-tablet) {

              width: 320px;
          }
        }

        .password-forget {

          text-align: right;
          display: block;
          color: #9B9B9B;
          font-size: 14px;
        }

        .new-account {

          margin: 50px 0px 0px;
          display: block;
          color: #335385;
        }
      }
    }

footer {

  background: @bg-color-darkblue;
  text-align: center;
  padding: 20px;

  @media screen and (min-width: @query-tablet) {

    font-size: 14px;
  }

  ul{

    li{

      list-style: none;
      margin: 20px 0px;

      @media screen and (min-width: @query-tablet) {

        display: inline-block;
        margin: 20px 0px;

        &::after{

          content: "|";
          color: @font-color-white;
          margin: 20px;
        }

        &:last-child {
            
          &::after {

            content: " ";
          }
        }
      }


      a{

        text-decoration: none;
        color: @font-color-white;
      }
    }

    .diff-line {

      display: none;

      @media screen and (min-width: @query-tablet) {

        display: inline-block;
        color: @font-color-white;
      }
    }
  }

  img {

    margin: 20px 0px;
  }

  .copyright {

    color: #9EA3B7;

    @media screen and (min-width: @query-tablet) {

      font-size: 12px;
    }
  }
}

}


.clear {

  clear: both;
}
