.zm-animation-wrapper {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}
.zm-animation-wrapper .zm-menu,
.zm-animation-wrapper .zm-content-wrapper,
.zm-animation-wrapper .zm-touch {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.zm-animation-wrapper .zm-menu {
  overflow: scroll;
  padding-right: 20px;
  background:  url(../images/background-320.jpg);
}
.zm-animation-wrapper .zm-menu ul {
  margin: auto 20px;
  height: 98px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.zm-animation-wrapper .zm-menu ul li {
  display: block;
  padding: 6px 0px 6px 0px;
}
.zm-animation-wrapper .zm-menu ul li a{
  color: white;
}
.zm-animation-wrapper .zm-content-wrapper {
  -webkit-transition: translate(25%, 0%) scale(0.5, 0.5);
  -moz-transition: translate(25%, 0%) scale(0.5, 0.5);
  -ms-transition: translate(25%, 0%) scale(0.5, 0.5);
  -o-transition: translate(25%, 0%) scale(0.5, 0.5);
  transform: translate(25%, 0%) scale(0.5, 0.5);
  overflow: hidden;
}
.zm-animation-wrapper .zm-content-wrapper .zm-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: relative;
  overflow: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
.zm-animation-wrapper.zm-closed .zm-menu {
  -webkit-transition: translate(-50%, 0%) scale(2, 2);
  -moz-transition: translate(-50%, 0%) scale(2, 2);
  -ms-transition: translate(-50%, 0%) scale(2, 2);
  -o-transition: translate(-50%, 0%) scale(2, 2);
  transform: translate(-50%, 0%) scale(2, 2);
}
.zm-animation-wrapper.zm-closed .zm-content-wrapper {
  transform: none;
}
