.zm-animation-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;

    @media screen and (min-width: @query-tablet) {

        width: auto;
        height: auto;
        overflow: visible;
    }

    .zm-menu {
        overflow: auto;
        padding-right: 20px;
        background:  url(../images/background-320.jpg);
        background-size: cover;
        visibility: none;
        height: auto;

        @media screen and (min-width: @query-tablet) {

            overflow: hidden;
            visibility: visible;
            height: 0px !important;
        }

        ul {
            margin: auto 0px;
            height: 288px;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            list-style: none;

            @media screen and (min-width: @query-tablet) {

                height: 0px;
            }

            li {
                display: block;
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding: 0;
                    display: block;
                    padding: 10px 0px 10px 20px;

                    @media screen and (min-width: @query-tablet) {

                        display: none;
                    }
                }

                &:after{
                        content: " ";
                        display: block;
                        height: 1px;
                        width: 100%;
                        margin: 3px;
                        background: #586875;
                        margin-left: 0px;

                        @media all and (min-width: @query-tablet) {

                            height: 0px;
                        }
                }
                &:last-child:after {
                    height: 0px;
                }
            }

            .active {

                font-family: @font-bold;
            }
        }
    }
    .zm-content-wrapper {
        -webkit-transition: translate(25%, 0%) scale(0.5, 0.5);
        -moz-transition: translate(25%, 0%) scale(0.5, 0.5);
        -ms-transition: translate(25%, 0%) scale(0.5, 0.5);
        -o-transition: translate(25%, 0%) scale(0.5, 0.5);
        transform: translate(25%, 0%) scale(0.5, 0.5);
        overflow: hidden;

        @media screen and (min-width: @query-tablet) {
            overflow: visible;
        }

        .zm-content {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            position: relative;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            @media screen and (min-width: @query-tablet) {

                width: auto;
                height: auto;
                position: static;
                overflow: visible;
                -webkit-overflow-scrolling: initial;
            }
        }
    }
}
.zm-animation-wrapper .zm-menu,.zm-animation-wrapper .zm-content-wrapper,.zm-animation-wrapper .zm-touch {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;

     @media screen and (min-width: @query-tablet) {

        padding: 0;
        margin: 0;
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }
}
.zm-animation-wrapper.zm-closed {
    .zm-menu {
        -webkit-transition: translate(-50%, 0%) scale(2, 2);
        -moz-transition: translate(-50%, 0%) scale(2, 2);
        -ms-transition: translate(-50%, 0%) scale(2, 2);
        -o-transition: translate(-50%, 0%) scale(2, 2);
        transform: translate(-50%, 0%) scale(2, 2);
    }
    .zm-content-wrapper {
        transform: none;
    }
}
